asgiref==3.4.1
Django==3.2.6
flake8==3.9.2
gunicorn==20.1.0
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1
pytz==2021.1
sqlparse==0.4.1
flake8-blind-except
flake8-builtins
flake8-logging-format
flake8-commas
flake8-print
pep8-naming
flake8-cognitive-complexity
flake8-expression-complexity
flake8-variables-names
flake8-comprehensions
flake8-eradicate
flake8-django


